<a href="https://colab.research.google.com/github/eftekhar-hossain/Bangla-News-Comments/blob/master/Lab_01_(Python_variables_and_expressions).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ETE-407 Multimedia Communication Sessional

Lab-01: **Introduction to Python Variables, Expressions and Statements**


> Objective: 
 1. *Get familiar with the Python variables, expressions and statements as well as different operators and  their various oprerations.*

**Values and Types**

A value is one of the basic things a program works with, like a letter or a number.
**`1, 2, and “Hello, World!”`** all are the different values.
These values belong to different types: **`2 is an integer`**, and 
**`“Hello,World!” is a string`**, so called because it contains a `“string”` of letters. 
**The print statement** is used to print any values.

In [8]:
 ##   
print(4)

#If you are not sure what type a value has, the interpreter can tell you.
type('Hello, World!')
type(17)
type(3.2)

int

What about values like `“17”` and `“3.2”` ? They look like numbers, but they are in
quotation marks like strings.

In [ ]:
type('17')
type('3.2')

#They’re strings.

**Variables**

One of the most powerful features of a programming language is the ability to
manipulate variables. A variable is a name that refers to a value.
An assignment statement creates new variables and gives them values: You can think of variables as a bag to store books in it and that book can be replaced at any time

In [ ]:
number = 10
number = 1.1

In [ ]:
message = 'And now for something completely different'
n = 17
pi = 3.1415926535897931
# This example makes three assignments. The first assigns a string to a new variable
# named message; the second assigns the integer 17 to n; the third assigns the
# (approximate) value of π to pi.
#To display the value of a variable, you can use a print statement:
print(n)

print(pi)

##Examples

In [ ]:
#Example 1: Declaring and assigning value to a variable

website = "apple.com"
print(website)

In [ ]:
#Example 2: Changing the value of a variable

website = "apple.com"
print(website)

# assigning a new value to website
website = "programiz.com"

print(website)

In [ ]:
#Example 3: Assigning multiple values to multiple variables

a, b, c = 5, 3.2, "Hello"

print (a)
print (b)
print (c)

In [ ]:
# If we want to assign the same value to multiple variables at once, we can do this as:

x = y = z = "same"

print (x)
print (y)
print (z)

**Variable names and keywords**

Programmers generally choose names for their variables that are meaningful and
document what the variable is used for.

Variable names can be arbitrarily long. They can contain both letters and numbers, but they cannot start with a number. It is legal to use uppercase letters, but it is a good idea to begin variable names with a lowercase letter (you’ll see why later).

The underscore character **( _ )** can appear in a name. It is often used in names with multiple words, such as **`my_name`** or **`airspeed_of_unladen_swallow`**. 

Variable names can start with an underscore character, but we generally avoid doing this unless we are writing library code for others to use.
If you give a variable an illegal name, you get a syntax error:

In [ ]:
# If you give a variable an illegal name, you get a syntax error:

# Illegal variable names

76trombones = 'big parade'
more@ = 1000000
class = 'Advanced Theoretical Zymurgy'


# It turns out that class is one of Python’s keywords. The interpreter uses keywords
# to recognize the structure of the program, and they cannot be used as variable
# names.

**Python reserves 35 keywords:**

`and del from None True`

`as elif global nonlocal try`

`assert else if not while`

`break except import or with`

`class False in pass yield`

`continue finally is raise async`

`def for lambda return await`

**Type Conversion**

The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. Python has two types of type conversion.

1. Implicit Type Conversion
2. Explicit Type Conversion

**Implicit Type Conversion**

In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

Let's see an example where Python promotes the conversion of the lower data type (integer) to the higher data type (float) to avoid data loss.

In [ ]:
type("ABC")

In [ ]:
# Example 1: Converting integer to float

num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

In [ ]:
# Example 2: Addition of string(higher) data type and integer(lower) datatype

num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)

**Explicit Type Conversion**

In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like **`int()`**, **`float()`**, **`str()`**, etc to perform explicit type conversion.

This type of conversion is also called ***typecasting*** because the user casts (changes) the data type of the objects.

In [ ]:
#Example 3: Addition of string and integer using explicit conversion

num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

**Statement**

A statement is a unit of code that the Python interpreter can execute. We have
seen two kinds of statements: print being an expression statement and assignment.
When you type a statement in interactive mode, the interpreter executes it and
displays the result, if there is one.

In [ ]:
print(1)
x = 2
print(x)

**Operators and operands**

Operators are special symbols that represent computations like addition and multiplication. The values the operator is applied to are called operands.
The operators `+, -, *, /, and **` perform addition, subtraction, multiplication,
division, and exponentiation, as in the following examples:

In [ ]:
20+32
5**2
(5+9)*(15-7)
minute = 59
minute/60

In [ ]:
#  Example 1: Arithmetic operators in Python
x = 15
y = 4

# Output: x + y = 19
print('x + y =',x+y)

# Output: x - y = 11
print('x - y =',x-y)

# Output: x * y = 60
print('x * y =',x*y)

# Output: x / y = 3.75
print('x / y =',x/y)

# Output: x // y = 3
print('x // y =',x//y)

# Output: x ** y = 50625
print('x ** y =',x**y)

**Expressions**

An expression is a combination of values, variables, and operators. A value all by itself is considered an expression, and so is a variable, so the following are all legal expressions (assuming that the variable x has been assigned a value)

In [ ]:
5
x = 5
x + 1

In [ ]:
quotient = 7 // 3
print(quotient)

remainder = 7 % 3
print(remainder)

**String operations**

The `+` operator works with strings, but it is not addition in the mathematical sense.
Instead it performs **concatenation**, which means joining the strings by linking them
end to end. For example:

In [ ]:
first = 10
second = 15
print(first+second)

############
first = '100'
second = '150'
print(first + second)

In [ ]:
a = "Try"
b = "Catch"

a+' '+b

The `*` operator also works with strings by multiplying the content of a string by an integer. For example:

In [ ]:
first = 'Test '
second = 3
print(first * second)

**Asking the user for input**

Sometimes we would like to take the value for a variable from the user via their
keyboard. Python provides a built-in function called **`input`** that gets input from the keyboard

In [36]:
inp = input("Enter a value ")
print(inp)

Enter a value aaaab
aaaab

**Output formatting**

Sometimes we would like to format our output to make it look attractive. This can be done by using the **`str.format()`** method. This method is visible to any string object.

In [41]:
# one way
x = 5 
y = 10
print('The value of x is {} and y is {}'.format(x,y))

#Here, the curly braces {} are used as placeholders.

The value of x is 5 and y is 10

In [40]:
# second way
x = 5 
y = 10
print(f'The value of x is {x} and y is {y}')

The value of x is 5 and y is 10

In [ ]:
# We can even use keyword arguments to format the string.

print('Hello {name}, {greeting}'.format(greeting = 'Goodmorning', name = 'John'))

In [45]:
# test
a = 5; b=6; c= 10

print(f"The summation of {a},{b}, and {c} =",a+b+c)

The summation of 5,6, and 10 = 21

In [ ]:
# We can also format strings like the old sprintf() style used in C programming language. 
# We use the % operator to accomplish this
x = 12.3456789
print('The value of x is %.2f' %x)
print('The value of x is %.4f' %x)

In [ ]:
# round function
round(x,4)

In [ ]:
# Python math package 
from math import sqrt,pi
sqrt(16)
#pi

#Practice Excercises



1.   Write a program that uses input to prompt a user for their name and then welcomes them.           
```
              Enter your name: Shakib
              Hello Shakib
```

2.   Write a program to prompt the user for hours and rate per
hour to compute gross pay.
```
          Enter Hours: 35
          Enter Rate: 2.75
          Pay : 96.25
```

3. Write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit, and print out the
converted temperature.

```
          Enter Tempatature in Celsius: 35
          Temparature in Farenheit: ???
```
4. Write a program which prompts the user for the height and width of a rectangle, calculate the area, diagonal, and perimeter.
```
          Enter Height: 5
          Enter Width:  7
          Area :  ??
          Diagonal: ??
          Perimeter: ??
```
5. Write a Python program to calculate the area of a trapezoid.
```
          Enter Height: 5
          Enter base 1 value:  18
          Enter base 2 value:  7
          Area :  ??        
```
6. Write a Python program to calculate surface volume and area of a cylinder.
```
          Enter Height: 5
          Enter radius:  10
          Volume: ??
          Area :  ??        
```
7. Write a Python program to calculate arc length of an angle and sector area of a circle.
```
          Enter Radius: 5
          Enter Angle:  60
          Arc Length: ??
          Sector Area:  ??        
```

#References:
1. [Programiz.com](https://www.programiz.com/python-programming/operators)
2. [Python for Everybody-Coursera](https://www.coursera.org/learn/python)